<div style="margin-top: 120px;">
</div>
<div class="container">
	<div class="work-wrapper row" style="width: 100%">
	  <div class="col-md-3">
	  	<h4>{{work.profile.wName}}</h4>
	  	<div class="work-des-artist-photo">
		  <img class="img-circle" src="images/artist-profile.jpeg">
		</div>
		<a href="#/artist/profile/{{works._id}}">{{work.profile.user}}</a>
	  	<p>2015/10/11</p>
	  	<br/>
	  	<br/>
	  	<p>類型 <span class="label label-danger">{{work.style}}</span></p>
	  	<p>原始尺寸 <span class="label label-info">120 x 120</span></p>
	  	<div class="work-des">
	  	 {{work.profile.decription}}
	  	</div>
	  </div>
	  <div class="col-md-9" style="text-align: center;">
	  	<img src="{{work.profile.photo}}" width="80%">
	  </div>
	</div>

	<hr/>

	<div style="text-align: center; margin-bottom: -23px;">
	  <button class="btn" style="background-color: #FFFCF5">購買版權</button>
	</div>
	<div id="plan-wrapper" class="cotainer" style="text-align: center;">
	<form>
		<div id="plan-work-name">
		  <h4>{{work.profile.wName}}</h4>
		  <a href="#/artist/profile/1">{{work.profile.user}}</a>
		</div>
		<div id="plan-items" style="display: inline-block; text-align: left;">
			<div ng-repeat="plan in plans">
				<div class="radio">
				  <label>
				    <input type="radio" class="regular-checkbox" value="{{plan._id}}">
				    {{plan.name}} - {{plan.price | currency}}
				  </label>
				</div>
			</div>
		</div>
		<hr/>
		<div id="plan-des">
		購買授權類型版權，完成付費後將會收到一組唯一的授權碼，客戶即可依版權所制定的內容進行使用，所有行為皆受法律管轄，雙方將保留法律追溯的權力。客戶可依驗證碼搜尋授權記錄及雙方的電子同意書，所有資料皆具有法律效用。
		</div>
	</form>
	    <div id="plan-submit-btn"><button ng-click="goPay(works._id)" class="btn btn-fill">取得授權</button></div>
	</div>
</div>

<div id="bot" class="alert landing-alert section-light-brown">
  {{artist}} © 2016
</div>
